<!--layout.html是公用的模板，可以使用继承-->
{% extends 'layout.html' %}

{% block content %}
{% for item in contents%}
<div class="content">
	<h2>{{item.title}}</h2>
	<div>
		<span>作者:</span>
		<span>{{item.user.username}}</span>
		<span>时间:</span>
		<span>{{item.time|date('Y.m.d H:i:s', -8*60)}}</span>
		<span>阅读:</span>
		<span>{{item.view}}</span>
		<span>评论:</span>
		<span>20</span>
	</div>
	<p>{{item.description}}</p>
	<button><a href="/view/?content={{item._id.toString()}}">阅读全文</a></button>
</div>
{% endfor%}

<div class="page">
	<span><a href="/?category={{category}}&page={{page-1}}" style="text-decoration: none;color: black">上一页</a></span>
	<span>{{page}}/{{pages}}</span>
	<span><a href="/?category={{category}}&page={{page+1}}" style="text-decoration: none;color:black">下一页</a></span>
</div>
{% endblock%}
